.home {
  height: auto;


  .shoe {
    
    width: 100%;
    position: absolute;
    z-index: 90;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -40%);
    .shoe-img {
      display: flex;
      margin: auto;
      height: 270px;
      width: 600px;
    }

    .home-btn {
      background-color: $main-dark;
      color: $white;
      padding: 6px 30px;
      box-shadow: 1 20px 50px rgba(20, 19, 19, 0.3);
      &:hover {
        opacity: 0.8;
      }
    }
  }

  .vector {
    z-index: 20;
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    h1 {
      font-size: 390px;
      color: rgba(255, 255, 255, 0.9);
      font-family: $vector-font;
      font-weight: 700;
      text-transform: uppercase;
      text-shadow: -3px 3px 4px rgba(255, 255, 255, 0.2) inset;
      text-shadow: 8px -8px 10px rgba(255, 255, 255, 0.25);
      text-shadow: -30px 30px 30px rgba(0, 0, 0, 0.7);
      text-shadow: -10px 10px 10px rgba(0, 0, 0, 0.13);
    }
  }
}

@include responsive_max(1000px) {
  .shoe-img {
    height: auto!important;
    width: 100%!important;
  }
}



@include responsive_max(769px) {
  .home {
    
    .vector h1{
        font-size: 150px!important;
    }

   
   
    
  }
}

