.home{
    min-height: 100Vh;
    height: auto;

    .home-content{
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        align-items: center;
        min-height: 100vh;
        
    }

    .shoe{
        grid-column: 2/4;
        text-align: center;
        .shoe-img{
            height: auto;
            margin-bottom: 70px;
        }

        .home-btn{background-color: $black; color: $white; font-size: 20px; font-weight: 700; padding: 6px 30px;}
    }

   .home-text{
       align-self: center;
    transform: rotate(-90deg);

       h1{
           position: relative;
           font-family: $heading-font;
           font-size: 80px;
           color: $heading-color;
           font-weight: 900;
           line-height: 1;
           z-index: 2;
           text-transform: uppercase;
           margin-bottom: 20px;

           &::after{
               content: "2021 NEW COLLECTION";
               position: absolute;
               bottom: -10px;
               color: $light-black;
               left: 0;
               z-index: -1;
           }
        

       }

       p{
           color: #333;
           
       }
   }

  .socials{
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: flex-end;
      color: $light-black;
      font-size: 20px;

      svg {margin: 20px 0;}
  }

  .vector{
      
      z-index: -1;
      position: absolute;
      top: 45%;
      left: 50%;
      transform: translate(-50%, -50%);

      svg{
        width: 600px;
        height: auto;
      }
  }
}


@include responsive_min(1280px){
    .home .vector{
        left: 60%!important;
    }
}

@include responsive_min(1300px){
    .home .vector{
        left: 50%!important;
    }
}

@include responsive_max(1024px){
   .home{
    .home-content{
        display: block!important;
        min-height: auto!important;

       .home-text{
           transform: rotate(0);
       } 

       .socials{
           flex-direction: row;
           margin-top: 50px;

           svg{
               margin: 0 20px;
           }
       }
    } 
    .vector {top: 60%!important;}
   } 
}

@include responsive_max(665px){

    .home{
        padding-top: 100px;
        padding-bottom: 20px;

        .home-text{
            h1 {
                font-size: 40px!important;
            }
    
            p{
                font-size: 20px;
            }
        }

        .vector svg{ width: 300px!important;}
    }

  
}

@include responsive_max(360px){
    .home .vector svg{ width: 200px!important;}
}