.cart{
    padding-bottom: 5rem;
    .banner{
        background-color: $cart-primary;
    }

    .cart-items{
        padding: 4rem 0;
        .cart-header{
            border-bottom: 1px solid #eee;
            padding: 1rem 0;
        }
        h4{
            font-family: $general-font!important;
            font-weight: 700;
        }
    }

    .checkout{background-color: $cart-secondary; color: $white;}
}