.order-details{
    min-height: 100vh;

    h1{
        font-size: 6rem;
    }

    .cart-item-info{
        h3{font-size: 1.6rem;}

        .cart-item-details{font-size: 1.3rem;}

    }

    .price, .cart-item-total{font-size: 1.4rem;}

    .qty{font-size: 1.4rem;}
    .cart-btn{font-size: 1.1rem;}
}