.not-found{
    ._404{
        font-weight: 700;
        font-size: 15rem;
    }

    .not-found-text{
        text-align: center;
        h1{font-size: 6rem;}
    }
}

@include responsive-max(450px){
    ._404{font-size: 9rem!important;}
}