.color-circle {
  display: inline-block;
  border-radius: 100%;
  width: 20px;
  height: 20px;
}

.cart-item-img {
  width: 150px;
  height: auto;
  background-size: 100% !important;
  background-repeat: no-repeat !important;
  background-position: center center !important;
}

.cart-btn {
  width: 25px;
  height: 25px;
  line-height: 20px;
  text-align: center;
  padding: 0;
  background-color: black;
  color: #fff;
  cursor: pointer;
  &:hover {
    background-color: rgb(36, 36, 36);
    color: white;
  }
  &:disabled {
    cursor: not-allowed;
  }
}

.delete {
  cursor: pointer;
  &:hover {
    transform: scale(1.09);
  }
  &:active {
    transform: scale(0.9);
  }
}
