#header{
    z-index: 10;
    width: 100vw;
    top: 0;
    overflow: hidden;
    padding: .5rem 0;

    .logo a{
        display: block;
        background-size: contain;
        background-repeat: no-repeat;
        width: 150px;
        height: 50px;
    }
    &.light{
        .logo a{background-image: url('../../assets/light-logo.png'); }

    }
    &.dark{
        .logo a{background-image: url('../../assets/red-logo.png');}
    }

    .navbar{padding: 0!important;}

    

    .header-icon{
        font-size: 2rem;
        color: $light-black;
    }
    

    .navbar-nav{
        flex-direction: row!important;

        .nav-link{
            font-size: 1.5rem;
            color: $light-black;
            font-weight: 600;
        }
       
    }

    .toggler{
        display: none;
        font-size: 2rem;
        z-index: 999;
        position: relative;
    }

   
}

@include responsive-max(450px){
    .navbar-nav .nav-link{font-size: 1.2rem!important;}
    .header-icon{font-size: 1.3rem!important;}
    .logo a{
        width: 100px!important;
        height: 40px!important; 
         background-image: url('../../assets/red-logo.png')!important;
    }
}

@include responsive-max(360px){
    .toggler{
        display: block!important;
    }

    #header .navbar-nav{display: none;}
}

