.mobile-nav{
    background-color: $main-color;
    z-index: 9;
    display: flex;
    transform: scale(0);
    position: fixed;
    top: 0;
    left: 0;
    @include transition();

    &.open{
        display: flex!important;
        transform: scale(1)!important;
        @include transition();

        .nav-link,
        .nav-icon,
        .mobile-btn{
            transform: translateY(0);
            @include transition();
            opacity: 1;
            transition-delay: .3s;
        }
    }

    .nav-link{
        font-size: 2rem!important;
        font-weight: 700;
        color: $white;
        margin-bottom: 2rem;
        transform: translateY(20px);
        opacity: 0;
    }

    .nav-icon{
        font-size: 2rem;
        color: $white;
        margin-bottom: 2rem;
        display: inline-block;
        transform: translateY(20px);
        opacity: 0;
    }

    .badge{
        background-color: $black!important;
    }


    .mobile-btn{
        background-color: $white;
        color: $main-color;
        font-size: 1.5rem!important;
        transform: translateY(20px);
        opacity: 0;
    }
}