.ReactModal__Overlay.ReactModal__Overlay--after-open{
    background-color: rgba(221, 221, 221,.8)!important;
    z-index: 99;
}

.modal-btn{
    top: 10px;
    right: 10px;
}

@include responsive_tab(){
    .ReactModal__Content.ReactModal__Content--after-open{padding: 0!important;}
}

@include responsive_mobile(){
    .ReactModal__Content.ReactModal__Content--after-open{
        height: 85vh!important;
        overflow: scroll!important;
        width: 75%!important;
    }
}

@include responsive_max(450px){
    .ReactModal__Content.ReactModal__Content--after-open{
        width: 100%!important;
        height: 95vh!important;
    }
}