.news-letter{
    padding: 6rem 0;
    h2 {
        color: $light-black;
        font-size: 4rem;
        margin-bottom: 1.5rem;
    }

    p{
        margin-bottom: 2rem;;
    }
    .main-btn{
        font-size: 1.5rem;
        font-weight: 600;
    }
}


@include responsive_mobile{
    .news-form{width: 80%!important;}
}

@include responsive_max(450px){
    .news-form{width: 100%!important;}
}