.product-item{
    .card{
        overflow: hidden;
        padding: 2rem 0;
        border-radius: 0;
        border-color: #f0f0f0;
        cursor: pointer;
        background-color: #F6F6F6;
        &:hover{
            .item-view{
                transform: scale(1);
                @include transition();
            }
        }

        img{height: 170px;}


        .item-info{
            .item-colors{font-size: 1.3rem; color: $black;}
            .item-title{
                color: $light-black;
                font-size: 2.5rem;
            }
            .item-price{
                font-size: 1.6rem;
                span{
                    font-size: 1.8rem;
                    font-weight: 700;
                    color: $black;
                }
            }
        }

        .item-view{
            position: absolute;
            right: 1rem;
            top: 1rem;
            transform: scale(0);
            font-size: 2rem;
            color: #008CFF;
            @include transition();
        }

        
    }


}


@include responsive_min(1024px){
    .card-img{width: 80%!important;}
}