.girls-collection{
    .banner{
        background-color: $girls-primary;
        &::after{
            content: "";
            display: block;
            width: 500px;
            height: 700px;
            top: -8rem;
            right: 18%;
            position: absolute;
            background-image: url('../../../assets/girls.png');
            background-repeat: no-repeat;
            background-size: contain;
        }
    }

    .main-btn{background-color:$girls-secondary;}

    .add{color: $girls-secondary!important;}

    .item-view{color: $girls-primary!important;}
}