.men-collection{
    .banner{
        background-color: $men-primary;
        &::after{
            content: "";
            display: block;
            width: 500px;
            height: 700px;
            top: -5rem;
            right: 20%;
            position: absolute;
            background-image: url('../../../assets/skate.png');
            background-repeat: no-repeat;
            background-size: contain;
        }
    }

    .main-btn{
        background-color:$men-secondary;
    }

    .add{color: $men-secondary!important;}

    .item-view{color: $men-primary!important;}
}