#new-arrivals{
    min-height: 50vh;
    height: auto;
    width: 100vw;
    .banner{
        background-image: url('../../../assets/air.jpeg');
        background-size: cover;
        background-position: 500px -350px;
        
    }

    .main-btn{
        background-color: $arrival-btn-color; 
    }

    .form-control{box-shadow: none;
        height: 50px;
        &:focus{border-color: $arrival-btn-color;}
    }
}