.women-collection{
    .banner{
        background-color: $women-primary;
        &::after{
            content: "";
            display: block;
            width: 500px;
            height: 700px;
            top: -18rem;
            right: 15%;
            position: absolute;
            background-image: url('../../../assets/women.png');
            background-repeat: no-repeat;
            background-size: contain;
        }
    }

    .main-btn{background-color:$women-secondary;}

    .add{color: $women-secondary!important;}

    .item-view{color: $women-primary!important;}
}