//HOME COLORS

$overlay-color: rgba(174, 23, 33, 0.85);
$main-color: #c62529;
$home-bg: #f6f6f6;
$main-dark: #141313;

$heading-color: #333;

$white: #fff;
$black: #000;
$light-gray: #eee;
$light-black: #85868f;

$general-color: #9c8f8f;
