//HOME COLORS

$overlay-color: rgba(174, 23, 33,.85);
$main-color: #C62529;
$home-bg: #F6F6F6;

$heading-color: #333;

$white: #fff;
$black: #000;
$light-gray: #eee;
$light-black: #85868F;

$general-color: #9C8F8F;

