//HOME COLORS

$overlay-color: rgba(174, 23, 33,.85);
$home-btn-color: #C62529;
$home-bg: #F5EDED;

$heading-color: #403F49;

$white: #fff;
$black: #000;
$light-black: #444343;

$general-color: #9C8F8F;

//New arrivals colors
$arrival-btn-color: #FF7300;