h1,
h2,
h3,
h4 {
  font-family: $heading-font;
}

body {
  font-family: $general-font;
  overflow-x: hidden;
}

html,
main {
  overflow-x: hidden !important;
  height: 100vh;
}

a {
  &:hover {
    text-decoration: none;
  }
}

p {
  font-size: 1.4rem;
  line-height: 1.6;

  margin-bottom: 0;
}

input:not([type='checkbox']) {
  height: 50px !important;
  background-color: $light-gray !important;
  &:focus {
    box-shadow: none !important;
    border-color: $black !important;
  }
}

label {
  font-weight: 600;
}

li {
  list-style: none;
}

ul {
  padding: 0;
}

.container-fluid {
  max-width: 1200px;
  min-height: 100%;
}

.btn {
  font-size: 1.05rem;
  font-weight: 600;
}

img {
  width: 100%;
  height: 100%;
}

section,
main,
header {
  overflow-x: hidden !important;
}

.circle {
  position: absolute;
  filter: blur(50px);
  z-index: 1;
  &.circle-1 {
    top: -150px;
    left: -150px;
    width: 600px;
    height: 600px;
    background: #fffab3;
  }
  &.circle-2 {
    top: 50px;
    right: -100px;
    width: 500px;
    height: 500px;
    background: #efd4fd;
  }
}

main {
  background: linear-gradient(to bottom, #fde8ff, #fffef0);
}

.glass {
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(10px);
  z-index: 2;
}

.card-glass {
  border-radius: 10px;
  backdrop-filter: blur(10px);
  background: rgb(255, 255, 255);
  background: radial-gradient(
    circle,
    rgba(255, 255, 255, 0.7035189075630253) 50%,
    rgba(255, 255, 255, 0.19931722689075626) 100%
  );
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.08);
}
