h1,
h2,
h3,
h4{font-family: $heading-font;}

body{
    font-family: $general-font;
    overflow-x: hidden ;
}

a{&:hover{text-decoration: none;}}

p {
    font-size: 1.6rem;
    line-height: 1.6;
    color: $general-color;
    margin-bottom: 0;
}

input {
    height: 50px!important; 
    background-color:$light-gray!important;
    &:focus{
        box-shadow: none!important;
        border-color: $black!important;
    }
}

label{font-weight: 600;}

.container-fluid{max-width: 1600px; min-height: 100%;}

.btn{
    font-size: 1.6rem;
    font-weight: 600;
}

img{width: 100%; height: 100%;}

section,main, header{overflow-x: hidden;}