h1,
h2,
h3,
h4{font-family: $heading-font;}

body{
    font-family: $general-font;
}

a{&:hover{text-decoration: none;}}

p {
    font-size: 1.6rem;
    line-height: 1.6;
    color: $general-color;
}

.container-fluid{max-width: 1600px; min-height: 100%;}